.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #0C2340;
    padding: 40px;
    box-sizing: border-box;
}

.contact-header {
    font-size: 5rem; /* Increase the font size */
    color: white;
    margin-bottom: 5%; /* Add some space below the header */
    font-weight: bold; /* Make it bold */
    text-align: center;
}

.contact-form {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 1.5rem;

}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    margin-bottom: 16px;
    border: 2px solid #222;
    background-color: #222;
    color: white;
    border-radius: 4px;
    outline: none;
}

.contact-form textarea {
    height: 150px; /* Make the textarea bigger */
}

.contact-form button {
    padding: 12px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #004494;
}

.contact-form label {
    color: white;
    margin-bottom: 8px;
}
