.portfolio-container {
    color: #FFF;
    background-color: #0C2340; /* Dark blue background */
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.portfolio-title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 35px;
}

.projects-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.project-card {
    background: #222; /* Darker card backgrounds */
    width: 30%; /* Each card takes up 30% of the container width */
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

.project-image {
    width: 100%; /* Constrain image width to be consistent */
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensures the image covers the frame without distorting its aspect ratio */
    margin-bottom: 10px;
    border-radius: 5px; /* Optional: rounds the corners of the images */
}

.project-name {
    font-size: 1.5rem;
    color: #FFF;
}

.project-description {
    font-size: 1.4rem;
    color: #FFF;
    margin-top: 10px; /* Gives some space between the name and description */
}
