.navbar {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: color 0.3s;
}
.navbar a:hover {
    color: #ff6347; /* Hover color */
}
