.navbar {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    display: flex;
    gap: 20px; /* Spacing between navbar items */
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.2rem;

}

.navbar a:hover {
    color: #ff6347; /* Hover color */
}
